

h2 { padding: 10px;
	 text-align: center;
	margin-top: 100px;



}

p {	margin: 20px; text-align: center;border-color: black; border-width: 10px;

}


section {

	color: blue;
}

form { padding: 40px;



}

#textboxsize { width: 50%;


}

#icon{ margin-left: 500px; 


}



h4 { margin-left: 120px;
	margin-bottom: 30px;
}
